@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700;800&display=swap');
body{
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);

    font-family: 'Commissioner', sans-serif;
    font-size:16px;

    margin:0;
    padding:0;

    height: 100%;
    width: 100%;



}

header{
    width: 100%;
    height: 25em;
    background: url("../images/image-hero-mobile.jpg");
    background-size: cover;
}

nav{
    background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0));
}

#logo{
    vertical-align: top!important;
}

.link{
    color: white;
    text-decoration:none;
    font-weight: 400;
    margin-right: .5em;
}

.link:hover, .link:focus{
    color:white;
}

#nav-desktop{
    display: none !important;
}

#first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 90%;
    max-width: 45em;
    border-radius: 0.5em;
    margin-top:-5em;
    z-index: 1;
}

#logo-mastercraft{
    margin-top: -4em;
    margin-bottom: 2em;
}

#first-section h1{
    font-size: 1.8em;
    font-weight: 700;
    color: var(--black);
    margin-bottom: .75em;
}

#first-section p{
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 1em;
    margin-bottom:2em;
}

.btn-back-this-project{
    background:var(--moderate-cyan);
    color:white;
    font-weight: 500;
    width: 100%;
    padding: 1em 1em;
    border-radius: 2em;
    border-color: transparent;
}

.btn-bookmark{
    position: relative;
    width: 100%;
    padding: 1em 1em;
    border-radius: 2em;
    border-color: transparent;
    background: transparent;
}

.btn-bookmark::after{
    content: url("../images/icon-bookmark.svg");
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (min-width: 768px) {
    header{
        background: url("../images/image-hero-desktop.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    #nav-desktop{
        display: flex !important;
    }
    
    #nav-mobile{
        display: none !important;
    }
    
    .btn-back-this-project{
        width: 12em;
    }

    .btn-bookmark::before{
        content: "Bookmark";
        margin-left: 3em;
    }

    .btn-bookmark{
        position: relative;
        color: var(--dark-gray);
        font-weight: 700;
        width: 60%;
        padding: 1em 1em;
        border-radius: 2em;
        border-color: transparent;
        background: rgba(211, 211, 211, 0.37);
    }
}
    